/* VARIABLES */
/* MIXIN */
/* EXTEND */
header {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}

main {
  padding-top: 125px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #2e2e2e;
}

header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  box-sizing: border-box;
  background-color: #2e2e2e;
  position: fixed;
  z-index: 10;
}
header img {
  width: 60px;
  filter: brightness(100);
}
header .header__hamb {
  display: flex;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
}
header .header__hamb i {
  width: 30px;
  height: 30px;
}
header .header__menu {
  display: flex;
  gap: 100px;
}
header .header__user {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
header .header__user .header__icon {
  cursor: pointer;
  color: #fff;
  transition: transform 0.2s;
}

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

#cart-badge {
  position: absolute;
  top: 40px;
  right: 30px;
  background-color: #00d0b2;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  pointer-events: none;
}

.banner {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-image: url(../img/BG.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 10px #00d0b2;
}
.banner .banner__title {
  color: #fff;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 900;
  text-shadow: 4px 4px 6px #2e2e2e;
  letter-spacing: clamp(1.1rem, 3vw, 2rem);
}
.banner .banner__subtitle {
  color: #fff;
  width: 80%;
  margin: auto;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 300;
  text-shadow: 4px 4px 6px #2e2e2e;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 75px auto 75px;
  gap: 50px;
}
.products .products__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.products .products__item .products__img {
  width: 70%;
  transition: transform 0.2s;
}
.products .products__item .products__title {
  width: 70%;
  text-align: center;
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  font-weight: 700;
}
.products .products__item .products__price {
  margin: 10px 0 30px 0;
  text-align: center;
  font-size: clamp(1rem, 1.8vw, 1.7rem);
  font-weight: 900;
}
.products .products__item .products__btn {
  display: block;
  align-items: center;
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  font-weight: 700;
  border: none;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  width: 70%;
  cursor: pointer;
  background-color: #00d0b2;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.products .products__item .products__btn--unactive {
  background-color: #a8a8a8;
  opacity: 0.5;
  pointer-events: none;
}

.hamb__menu, .hamb__menu * {
  box-sizing: border-box;
}

.hamb__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: -100%;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: left 0.5s ease-in-out;
  z-index: 1000;
}
.hamb__menu .hamb__logo {
  width: 100px;
  margin: 0 auto;
  display: block;
}
.hamb__menu .hamb__nav {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  align-items: center;
  gap: 2rem;
}
.hamb__menu .hamb__nav .hamb__link {
  color: #2e2e2e;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}
.hamb__menu .hamb__close {
  position: absolute;
  top: 50px;
  left: 45px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #2e2e2e;
}

.hamb__menu.active {
  left: 0;
}

.cart-sidebar, .cart-sidebar * {
  box-sizing: border-box;
}

.cart-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 500px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.5s ease;
  z-index: 1000;
}

.cart-sidebar.active {
  right: 0;
}

.cart-content {
  /*     border: 2px dashed green;
   */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  overflow: scroll;
}

.cart-content::-webkit-scrollbar {
  display: none;
}

.cart-content li {
  border-bottom: 1px solid #a8a8a8;
}

.cart-item {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  align-items: center;
  margin: 20px 0;
}
.cart-item .cart-img-prod {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart-item .cart-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 10px;
}
.cart-item .cart-description .cart-prod-description, .cart-item .cart-description .cart-prod-price {
  margin: 0%;
  padding: 0;
}
.cart-item .cart-description .cart-prod-description {
  text-align: center;
}
.cart-item .cart-description .cart-prod-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2e2e2e;
}
.cart-item .cart-remove {
  cursor: pointer;
  transition: color 0.2s ease;
}

.cart-close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #2e2e2e;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto auto 0 auto;
  gap: 20px;
}

.cart-total {
  font-size: 1.5rem;
  color: #2e2e2e;
  display: block;
  margin: 0 auto 25px;
}

.cart-checkout {
  display: block;
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  font-weight: 700;
  border: none;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  cursor: pointer;
  background-color: #00d0b2;
  padding: 10px 50px;
  transition: background-color 0.3s ease;
}

.footer {
  width: 100%;
  background-color: #2e2e2e;
  border-top: solid 10px #00d0b2;
}
.footer .footer__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px 60px;
  box-sizing: border-box;
}
.footer .footer__menu .footer__logo {
  width: 150px;
  filter: brightness(100);
}
.footer .footer__menu .footer__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.footer .footer__menu .footer__nav .footer__link {
  text-decoration: none;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-weight: 500;
  color: #fff;
  transition: transform 0.2s;
}
.footer .footer__menu .footer__div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.footer .footer__menu .footer__div .footer__contact {
  text-decoration: none;
  color: #fff;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-weight: 500;
  transition: transform 0.2s;
}
.footer .footer__copy {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.5rem;
}

@media (hover: hover) {
  .hamb__menu .hamb__nav .hamb__link:hover {
    color: #00d0b2;
    transform: scale(1.1);
  }
  .header__menu .header__nav .header__link:hover {
    color: #00d0b2;
  }
  .products .products__item .products__btn:hover {
    background-color: #d817ab;
  }
  .cart-checkout:hover {
    background-color: #d817ab;
  }
  .cart-remove:hover {
    color: #d817ab;
  }
  .products__img:hover {
    transform: scale(1.2);
  }
  .products .products__item .products__btn--unactive:hover {
    background-color: #a8a8a8;
  }
}
@media screen and (max-width: 800px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-sidebar {
    width: 100%;
    height: 100%;
    right: -150%;
  }
  .hamb__menu {
    width: 100%;
    transition: left 0.3s ease-in-out;
  }
}
@media screen and (max-width: 560px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */